body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #fff7f8;
}

.test-container {
    text-align: center;
    width: 80%;
}

h1 {
    color: #ff69b4;
}

#question {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#answers button {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-message {
    font-size: 1.2em;
    color: #ff4081;
    margin-top: 20px;
}
